.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  background-color: var(--card-background);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error {
  color: #ff0000;
  margin-bottom: 1rem;
}

/* Adicionando estilos para os campos de input */
.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.8rem 2rem 0.8rem 0.8rem;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  font-size: 1rem;
  background-color: var(--input-background);
  color: var(--input-color);
}

.input-container input:focus {
  outline: none;
  border-color: var(--input-focus-border-color);
}

.input-container .icon {
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--input-icon-color);
}

/* Ajustes de estilo para os erros */
.input-container input.error {
  border-color: #ff0000;
}

.input-container .error-message {
  color: #ff0000;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}
