.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.4rem;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--button-foreground-color)
}

.input {
  padding: 0.8rem;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  font-size: 1rem;
  border-color: 0.15rem solid var(--border-color);
}

.input:focus {
  border-color: var(--button-background-color);
  outline: none;
}

.error {
  border-color: var(--error);
}

.errorMessage {
  color: var(--error);
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
