.button {
  padding: 1rem 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button.primary {
  background-color: var(--button-background-color);
  border: 0.15rem solid var(--border-color);
  letter-spacing: 1px;
  color: #fff;
}

.button.primary:hover {
  background-color:  var(--button-background-color-hover);
}

.button.secondary {
  background-color: #eaeaea;
  color: #333;
}

.button.secondary:hover {
  background-color: #cacaca;
}
