.form {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.input {
  padding: 8px;
  font-size: 16px;
  background-color: var(--input-background-color);
  color: var(--input-foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: border-color 0.3s; /* Transição suave para mudança de cor da borda */
}

.input:focus {
  border-color: #2ae941; /* Verde enquanto o campo está sendo focado */
  outline: none; /* Remove o contorno padrão do navegador */
}

.inputValid {
  border-color: var(--border-color); /* Bordas padrão após sair do foco, removendo o verde */
}

.inputError {
  border-color: #fa1e1e; /* Vermelho para entradas com erro */
}

.button {
  padding: 10px;
  background-color: var(--button-background-color);
  color: var(--button-foreground-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 1rem 0;
  transition: background-color 0.3s; /* Adiciona uma transição suave para mudanças na cor de fundo */
}

.button:hover {
  background-color: var(--button-background-color-hover);
}
