.dashboard {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.sidebar {
  width: 15%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem 0;
  border-right: 1px solid var(--border-color);
  
}

.sidebar ul {

  padding: 0;
  flex-grow: 1; 
  margin-left: 1rem;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 0.8rem;
  text-align: left;
  transition: background-color 0.3s;

}

.sidebar li:hover {
  background-color: var(--background-color);
}

.sidebar li span {
  margin-left: 1rem;
  font-size: 0.9rem;

}

.logoutButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 1rem 2rem;
  transition: background-color 0.3s;
  border-top: 1px solid var(--border-color);
}

.logoutButton:hover {
  background-color: var(--background-color);
}

.logoutButton span {
  margin-left: 1rem;
  font-size: 1rem;
}

.content {
  width: 80%;
  padding: 2rem;
  background-color: var(--background-color);
  overflow-y: auto;
}

/* Media Queries para Mobile */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column; /* Muda para coluna em telas pequenas */
  }

  .sidebar {
    width: 100%; /* A sidebar ocupa toda a largura */
    border-right: none; /* Remove a borda direita */
    border-bottom: 1px solid var(--border-color); /* Borda na parte inferior */
  }

  .content {
    width: 100%; /* O conteúdo ocupa toda a largura */
    padding: 1rem; /* Menos padding no conteúdo */
  }

  .sidebar li {
    font-size: 1rem; /* Aumenta o tamanho da fonte para melhor leitura */
  }

  .logo {
    text-align: center; /* Centraliza o logo */
    margin: 0.5rem 0; /* Ajusta a margem do logo */
  }
}
