.dashboard {
  display: flex;
  margin: 0 auto;
  height: 100vh;
  max-width: 100%;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.sidebar {
  width: 15%;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1rem 0;
  border-right: 1px solid var(--border-color);
  position: fixed; /* Sidebar fixa no desktop */
  height: 100%; /* Ocupa toda a altura */
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.sidebarOpen {
  transform: translateX(0); /* Sidebar visível no mobile */
}

.sidebarClosed {
  transform: translateX(-100%); /* Esconde a sidebar no mobile */
}

.sidebar ul {
  padding: 0;
  flex-grow: 1;
  margin-left: 1rem;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 100%;
  font-size: 0.8rem;
  text-align: left;
  transition: background-color 0.3s;
}

.sidebar li:hover {
  background-color: var(--background-color);
}

.sidebar li span {
  margin-left: 1rem;
  font-size: 0.9rem;
}

.logoutButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 1rem 2rem;
  transition: background-color 0.3s;
  border-top: 1px solid var(--border-color);
}

.logoutButton:hover {
  background-color: var(--background-color);
}

.logoutButton span {
  margin-left: 1rem;
  font-size: 1rem;
}

.content {
  width: calc(100% - 15%); /* Ajusta o conteúdo para ocupar o espaço restante no desktop */
  padding: 2rem;
  background-color: var(--background-color);
  overflow-y: auto;
  margin-left: 15%; /* Evita que o conteúdo fique sob a sidebar fixa */
}

/* Estilo do botão Hamburger */
.hamburger {
  display: none; /* Escondido por padrão em telas grandes */
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: white; /* Cor branca */
}

/* Media Queries para Mobile */
@media (max-width: 700px) {
  .dashboard {
    flex-direction: column; /* Muda para coluna em telas pequenas */
  }

  .sidebar {
    position: absolute; /* Sidebar móvel em telas pequenas */
    width: 70%;
    z-index: 10;
    transform: translateX(-100%); /* Esconde a sidebar por padrão no mobile */
  }

  .content {
    width: 100%; /* O conteúdo ocupa toda a largura em mobile */
    padding: 1rem;
    margin-left: 0; /* Remove a margem da sidebar em mobile */
  }

  .sidebar li {
    font-size: 1rem; /* Aumenta o tamanho da fonte para melhor leitura */
  }

  .logo {
    text-align: center; /* Centraliza o logo */
    margin: 0.5rem 0;
  }

  .hamburger {
    display: block; 

  }

  .sidebarClosed {
    transform: translateX(-100%); /* Sidebar escondida no mobile */
    margin-top: 4rem;
    width: 100%;
  }

  .sidebarOpen {
    transform: translateX(0); 
    margin-top: 4rem;
    width: 100%;
    border: 0;
  }
}
